/*Mobile version*/
@media only screen
and (max-width: 600px){

/*Place some margins on the sides of the screen*/
body{
    margin: 0 5px 0 5px;
    background-color: #fffcfc;
}
h1{
    color: #1E3932;
}
a{
    text-decoration: none;
    color: white;
}
* {
    font-family:'Times New Roman', Times, serif, Arial;
}

/*Places audio bubbles in the middle of the song image*/
audio{
    position: relative;
    top:-12.5vh;
    width: 15vh;
    margin-left: 2.5vh;
    height: 5vh;
    opacity: 0;
    border-radius: 5px;
}
.audio-wrapper{
    height: 20vh;
    border: #0b421a;
    border-style: solid;
    border-width: 5px;
    width: 20vh;
}
/*Audio bubble appears when hovering over the song image*/
.title-img:hover + audio{
    opacity: 1;
}
audio:hover{
    opacity: 1;
}

/*Sign in and log in buttons*/
button {
    background-color: #fffcfc;
    border: 0;
    border-radius: 5px;
    color: #1E3932;
    cursor: pointer;
    font-weight: 600;
    padding: 6px 16px;
    text-align: center;
    vertical-align: middle;
    max-height: 35px;
}
button:hover {
    background-color: rgb(2, 20, 0);
    color: white;
}

/*Flexbox wrappers*/
.wrapper{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.wrapper > div {  
    margin: 2px;
}
#main{
    height: 100vh;
}
/*First row wrappers*/
#header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    border-radius: 5px;
    width: 100%;
    flex: 1;
    min-height: 50px;
    background-color: #0b421a;
    align-self: center;
}
/*Second row wrappers*/
.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    gap: 5vw;
}
.song{
    color: rgb(2, 20, 0);
    display: flex;
    align-items: center;
}
#main-content{
    background: #fffcfc;
    flex-direction: row;
    min-height: 70vh;
    border-radius: 5px;
    flex: 8;
}
#sidebar-menu{
    flex: 1;
}
#music-catalog{
    flex: 3;
    align-items: center;
    overflow-y: scroll;
    height: 87vh;
}
/*Third row wrappers*/
#footer{
    display: none;
}
#footer > p{
    display: none;
}

/*Name of the genre on the right side*/
.grenre{
    align-self: flex-start;
    margin: 4vh 0 2vh 4vw;
}

/*Music images mantain aspect ratio 1:1*/
.title-img{
    width:20vh;
    aspect-ratio: 1/1;
}
/*Make image opaque when hovering over them*/
div:hover > .title-img{
    opacity: 0.7;
}

/*Name of the song*/
.title-desc{
    color: inherit;
    font-size: 15px;
    padding-bottom: 20px;
    max-width: 25vh;
    vertical-align: center;
    text-align: center;
}

/*Options*/
.option{
    flex-direction: row;
}
.option:hover{
    background-color: rgb(2, 20, 0) !important;
}
.icon-wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 30%;
}
.option-text{
    display: none;
    font-weight: 100;
    font-size: calc(5px + 1.5vw);
    letter-spacing: 0.7vw;
    text-align: left;
    justify-content: center;
    color: #fffcfc;
    flex: 7;
}
/*Rounding corners*/
#first-option{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#last-option{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Separator of links and options*/
#separator{
    background: #fffcfc !important;
    flex: 5 !important;
}
/*Deletes cursor that appears when hovering*/
#separator:hover{
    cursor: unset;
}

/*Links*/
.link{
    box-shadow: inset 0 0 0 0 #063813;
    color: #063813;
    transition: color .1s ease-in-out, box-shadow .5s ease-in-out;
    font-weight: 100;
    font-size: calc(7px + 1vw);
    letter-spacing: 0.7vw;
    text-align: center;
    justify-content: center;
    color: #fffcfc;
    flex: 7;
}
.link:hover{
    box-shadow: inset 1000px 0 0 0 rgb(2, 20, 0);
}
.link > a{
    padding-top: 1.5vh;
    height: 100%;
}
/*Rounding corners*/
#first-link{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#last-link{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Links and Options*/
#sidebar-menu > div{
    background: #0b421a;
    cursor: pointer;    
    margin: 2px;
    flex:1;
}

/*Content of the header*/
/*Logo for desktop*/
#logo{
    display: none;
}
/*Logo for tablet an mobile*/
#logo-inverted{
    width:40px;
    margin-right: 10px;
}
#title{
    display: none;
    height: 0px;  
}
#sign-log{
    background: #0b421a;
    flex-direction: row;
    gap: 0.5vw;
    justify-content: start;
    align-items: center;
    padding: 2vh 0px 2vh 15px;
    border-radius: 5px;
    flex: 75;
}
}
