body{
    margin: 0px;
}
h3{
    margin: 0px;
}
button {
    border: 0;
    border-radius: 4px;
    margin: 0 10px;
    padding: 10px;
    height: 40%;
    width: fit-content;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
}
.border{
    height: 10vh;
}
.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70vh;
}
.left-item{
    background-color: #ffffff;
    width: 100%;
    height: 5vh;
}
.icon{
    background-color: coral;
    float: left;
    height: 5vh;
    width: 5vh;
}
.music-collection{
    width: 80%;
    top: 5vh;
    position: relative;
    margin: 10vh auto;
    padding-bottom: 5vh;
    z-index: 1;
}
.music-genre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10vh;
}
.music-title{
    background-color: yellow;
    width: 15vh;
    height: 15vh;
    margin: 2vh;
}

#left-col{
    position: fixed;
    background-color: blue;  
    width: 25%; 
    height: auto;
}
#logo{
    background-color: aqua;
    width: 10vh;
    float: left;
}
#title{
    background-color: violet;
    margin-left: 10vh;
    width: 100% - 210 vh;
}
#menu-item-1{
    margin-top: 10%;
}
#icon{
    background-color: cor;
    height: 5vh;
    width: 5vh;
}

#right-col{
    margin-left: 25%;
    background-color: green;
    width: 75%;
    height: auto;
}
#user-logon{
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    background-color: chartreuse;
    width: 75%;
    height: 10vh;
    z-index: 2;
}

footer{
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 2;
}